<!DOCTYPE html>
<html lang="en">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<link rel="stylesheet" href="../static/css/contact.css">

<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <div class="contacts">
        <h2>Contact Me</h2>
        <br>
        <p>Swapnil Sinha</p>
        <ul>
          <li><i class="bx bxl-gmail"></i> <a href="mailto:ss1676@srmist.edu.in">ss1676@srmist.edu.in</a></li>
          <li><i class='bx bxl-github'></i><a href="https://github.com/Swap-Nova">GitHub</a></li>
          <li><i class="bx bxl-linkedin"></i> <a href="https://www.linkedin.com/in/swapnilsinha81/">LinkedIn</a></li>
        </ul>
        <br>
        <p>Nishchaya Jandyal</p>
        <ul>
          <li><i class="bx bxl-gmail"></i> <a href="mailto:nj6404@srmist.edu.in">nj6404@srmist.edu.in</a></li>
          <li><i class='bx bxl-github'></i><a href="https://github.com/nishchaya21">GitHub</a></li>
          <li><i class="bx bxl-linkedin"></i> <a href="https://www.linkedin.com/in/nishchaya-jandyal/">LinkedIn</a></li>
        </ul>
      </div>
</body>
</html>
